<div th:fragment="disTime(time)" xmlns:th="http://www.w3.org/1999/xhtml" style="font-size: 14px">
    <div th:with="st=${time.startTime}, et=${time.endTime}">
        <label th:with="stH=${st.getHour()%12}, etH=${et.getHour()%12}, stM=${st.getMinute()}, etM=${et.getMinute()}">
            [[${stH} < 10 ? '0' : '']][[${stH}]]:[[${stM} < 10 ? '0' : '']][[${stM}]] [[${st.getHour()>12 ? 'PM' : 'AM'}]] -
            [[${etH} < 10 ? '0' : '']][[${etH}]]:[[${etM} < 10 ? '0' : '']][[${etM}]] [[${et.getHour()>12 ? 'PM' : 'AM'}]]
        </label>
        <i class="bi bi-trash" style="color:red; cursor: pointer;" th:value="${time.getId()}"
           onclick="deleteTime(event)"></i>
    </div>

</div>